
/* Here is our relatively positioned
 * container div to hold the rest of the
 * visualization */
#vis-container {
  position: relative;
  width: 980px;
  height: 700px;
  margin-top: 10px;
}

/* All the .annotation-step divs are inside
 * #annotation-steps. z-index ensures annotations
 * stay on top of visualization. */
#annotation-steps {
  position: absolute;
  z-index: 40;
}

#vis-nav {
  z-index: 20;
}

/* This is where you would create the actual visualization.
 * Right now, lets just change the background color. */
#vis-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  background-color: #eee;
}

/* By default, all annotation-steps are hidden. */
.annotation-step {
  position: absolute;
  display: none;
}

/* Finally we can position each annotation exactly how
 * we want. */
.annotation {
  position: absolute;
}

#step1-left-annotation {
  left: 30px;
  top: 120px;
  width: 200px;
}
 
/* The rest of the annotation positions are in the final
 * demo. */
